<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>CartShop Email Receipt</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <h1>CartShop</h1>
        </header>
        <section class="checkout">
            <h2>Your Order is Complete!</h2>
            <div class="checkout-container">
                <div th:replace="layout :: thanks"></div>
                <div class="mini-cart">
                    <h3>Order Summary</h3>
	                <table cellpadding="5" cellspacing="5">
	                	<tr>
	                		<th>Product</th>
	                		<th>Price</th>
	                		<th>Quantity</th>
	                	</tr>
			            <tr th:each="productPurchase,iterStat : ${purchase.productPurchases}">
			                <td th:text="${productPurchase.product.name}">Product Title</td>
			                <td th:text="${'$' + #numbers.formatDecimal(productPurchase.product.price, 1, 2, 'POINT')}">$199.00</td>
			                <td th:text="${productPurchase.quantity}">1</td>
			            </tr>
		            </table>
		            <br />
                    <table cellpadding="5" cellspacing="5">
                    	<tr>
                        	<td>Subtotal:</td>
                        	<td><strong><span th:text="${'$' + #numbers.formatDecimal(subTotal, 1, 2, 'POINT')}">$199.00</span></strong></td>
                        </tr>
                        <tr>
                        	<td>Shipping:</td>
                        	<td><strong><span th:text="${'$' + #numbers.formatDecimal(shippingCost, 1, 2, 'POINT')}">$199.00</span></strong></td>
                        </tr>
                        <tr />
                        <tr>
                        	<td>Total:</td>
                        	<td><strong><span th:text="${'$' + #numbers.formatDecimal(orderTotal, 1, 2, 'POINT')}">$199.00</span></strong></td>
                        </tr>
                        <tr />
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>